/* Top Navigation Bar */
header {
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh; /* 10% of viewport height */
    z-index: 1000;
    padding-bottom: 15px;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 30px;
}

.hidden {
    display: none;
}

#hamburger {
    height: 30px;
}

ul{
    list-style-type: none;
    padding-inline-start: 0px!important;
}

li{
    list-style-type: none;
}

#menu li {
    padding-right: 15px;
}

#menu li:last-child {
    padding-right: 0px;
}

.top-nav a,
#mobile-menu a {
    text-decoration: none;
    color: #333;
}

@media screen and (min-width: 625px) {

    #menu {
        display: flex;
    }

    #hamburger {
        display: none;
    }

    #mobile-menu {
        display: none;
    }
}

@media screen and (max-width: 625px) {

    #menu {
        display: none;
    }

    #mobile-menu {
        width: 100%;
        position: fixed;
        top: 85px;
    }

    #mobile-menu > li {
        list-style-type: none;
        width: 100%;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-content: center;
        background-color: rgb(255, 255, 255, 0.9);
    }

    #mobile-menu > li:hover {
        background-color: rgb(255, 255, 255, 1);
    }
}